<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Animal Data</title>
</head>
<body>
<h1>All Animal Data</h1>
    {% if cows == []: %}
    <p>Cows Database is Empty.</p>
    {% endif %}
    <ul>
        {% for cow in cows %}
        <li>{{cow.animal_id}} - {{cow.ear_tag}} - {{cow.animal_type}} - {{cow.breed}} - {{cow.color}}
            <a href="{{ url_for('views.edit', id=cow.animal_id) }}">Edit data</a>
        </li>
        {% endfor %}
    </ul>

</body>
</html>